<mat-nav-list>
    <!-- <div class="profile-card">
        <a routerLink="/profile">
            <img src="{{currentUser?.photoUrl}}" alt="{{currentUser?.firstName}} {{currentUser?.lastName}}">
        </a>
        <div class="header">
            <h2>{{currentUser?.firstName}} {{currentUser?.lastName}}</h2>
            <h4>{{currentUser?.email}}</h4>
        </div>
    </div> -->

    <!-- <mat-divider></mat-divider> -->

    <h2 matSubheader>Pages</h2>

    <a mat-list-item routerLinkActive="active" routerLink="/home" (click)="toggleSideBar()">Dashboard</a>
    <a mat-list-item routerLinkActive="active" routerLink="/resources" (click)="toggleSideBar()">Resources</a>
    <!-- <a mat-list-item routerLinkActive="active" routerLink="/albums" (click)="toggleSideBar()">Albums</a>
    <a mat-list-item routerLinkActive="active" routerLink="/users" (click)="toggleSideBar()">Users</a> -->
    <!-- <a mat-list-item routerLinkActive="active" routerLink="/companies" (click)="toggleSideBar()" [appCan]="'company-list'">Companies</a>
    <a mat-list-item routerLinkActive="active" routerLink="/groups" (click)="toggleSideBar()" [appCan]="'group-list'">Groups</a>
    <a mat-list-item routerLinkActive="active" routerLink="/routes" (click)="toggleSideBar()" [appCan]="'route-list'">Routes</a>
    <a mat-list-item routerLinkActive="active" routerLink="/units" (click)="toggleSideBar()" [appCan]="'unit-list'">Units</a>
    <a mat-list-item routerLinkActive="active" routerLink="/gst" (click)="toggleSideBar()" [appCan]="'gst-list'">GST Master</a>
    <a mat-list-item routerLinkActive="active" routerLink="/clients" (click)="toggleSideBar()" [appCan]="'client-list'">Clients</a>
    <a mat-list-item routerLinkActive="active" routerLink="/suppliers" (click)="toggleSideBar()" [appCan]="'supplier-list'">Suppliers</a>
    <a mat-list-item routerLinkActive="active" routerLink="/products" (click)="toggleSideBar()" [appCan]="'product-list'">Products</a>
    <a mat-list-item routerLinkActive="active" routerLink="/invoices" (click)="toggleSideBar()" [appCan]="'invoice-list'">Invoices</a>
    <a mat-list-item routerLinkActive="active" routerLink="/payments" (click)="toggleSideBar()" [appCan]="'payment-list'">Payments</a>
    <a mat-list-item routerLinkActive="active" routerLink="/ledger" (click)="toggleSideBar()" [appCan]="'ledger-list'">Ledger</a> -->
</mat-nav-list>

<!-- <mat-menu #submenu="matMenu">
    <a routerLink="/usermanagement/users" mat-menu-item (click)="toggleSideBar()">Users</a>
    <a routerLink="/usermanagement/roles" mat-menu-item (click)="toggleSideBar()">Roles</a>
    <a routerLink="/usermanagement/permissions" mat-menu-item (click)="toggleSideBar()">Permissions</a>
</mat-menu> -->