#account-area {
	margin-top: 5%;
}

.oxygen {
	background-color: #c7e2de;
}

.plasma {
	background-color: #ddd787;
}

.medicines {
	background-color: #1c1f51;
}

.beds {
	background-color: #ce7f59;
}

.status {
	margin: 20px;
	color: white;
	padding: 20px;
    border-radius: 10px;
    width: 200px;
    display: flex;
}

.status > h2{
	margin: 0 20px;
	color: white;
	padding: 20px;
}