<mat-card>
    <mat-card-header>
        <mat-card-title>Users</mat-card-title>
        <a mat-raised-button color="primary" routerLink="/users/create" style="margin-right: 8px;">Create
            User</a>
        <span class="spacer"></span>
    </mat-card-header>
    <mat-card-content>
        <ngx-table [data]="users" [configuration]="configuration" [columns]="columns">
            <ng-template let-row>
                <td>
                    <div class="font-small">
                        {{row.name}}
                    </div>
                </td>
                <td>
                    <div class="font-small">
                        {{row.email}}
                    </div>
                </td>
                <td>
                    <button mat-stroked-button color="accent" (click)="deleteUser(row)">
                      <mat-icon aria-hidden="false" aria-label="Delete User">delete</mat-icon>
                      Delete
                    </button>
                  </td>
            </ng-template>
        </ngx-table>
    </mat-card-content>
</mat-card>